[Unit]
Description=Corporate Network Indicator
ConditionUser=!@system

[Service]
ExecStart=/usr/bin/corp-net-indicator-tray
Restart=always

[Install]
WantedBy=default.target
