[Unit]
Description=Corporate Network Indicator
Requires=dbus.service
After=default.target
After=dbus.service
ConditionUser=!@system
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAUTHORITY

[Service]
ExecStart=/usr/bin/corp-net-indicator-tray
Restart=always

[Install]
WantedBy=default.target