[Unit]
Description=Corporate Network Indicator
PartOf=graphical-session.target
After=graphical-session.target
Wants=graphical-session.target

[Service]
ExecStart=/usr/bin/corp-net-indicator -tray
Restart=always